body {
  background-image: url(https://livingwage.github.io/img/bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
}

#copyButton {
  padding: 10px;
  background: #102548;
  border: none;
  border-radius: 0 0 5px 5px;
  font-family: "inter", sans-serif;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 50px;
}

#logo img {
  margin-left: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  main {
    width: 85%;
    margin: auto;
    padding: 2%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 600px) {
  main {
    width: 50%;
    margin: auto;
    padding: 2%;
    margin-bottom: 50px;
  }
}

.selector h1, .selector h2, .selector h3 {
  color: white;
}

p {
  color: white;
}

p a {
  color: white;
}

#explainer {
  color: #102548;
}

.sectionHeading {
  color: #102548;
}

#heading {
  font-size: 3em;
  color: #102548;
}

.section {
  margin: 20px;
  padding: 10px;
  width: 100%;
}

.section h2 {
  color: white;
}

#healthDisclaimer {
  font-size: 12px;
}

#footer {
  font-size: 9px;
  position: fixed;
  background: #102548;
  width: 100%;
  text-align: center;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  margin: 0;
}

h1, h2, h3 {
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
}

p {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

li {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

select, input {
  padding: 8px;
  border-radius: 3px;
  border: none;
  font-family: inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#selectors {
  background: #102548;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

#payRiseBox {
  background: #00938a;
  display: block;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  padding: 20px;
  margin-top: 10px;
}

#communityName {
  color: #ff530e !important;
}

.selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

#communitySelector {
  background: #102548;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px;
}

.currencyinput {
  background-color: #ffffff;
  color: #102548;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
}
